{% extends 'main.html' %}


<style>
{%block style%}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:#394867;
    /* z-index:99; */
}
.ask_q{
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 20px;
}
#ask_but{
    padding: 11px 15px;
    background-color: #212A3E;
    /* border: none; */
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
#ask_but:hover{
    background-color: #9BA4B5;
}
#ask_but a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
#discussions{
    width: 100%;
    justify-content: center;
    /* border: 1px solid rgb(123, 123, 123); */
}
.who-asked{
    color: rgb(21, 21, 130);
    font-weight:600;
    font-size: 1rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.question{
    color: #212A3E;
    font-weight:600;
    font-size: 2rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left:5px;
}
.answer{
    color: #212A3E;
    font-weight:600;
    font-size: 2rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-family:Arial, Helvetica, sans-serif;
}

.div_answer{
    display: flex;
    flex-direction: row-reverse;
    margin-left: 20px;
    margin-right: 50px;
}
.replied{
    color: rgb(21, 21, 130);
    font-weight:600;
    font-size: 1rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top:10px;
}
.thoughts{
    font-size: 20px;
    width: 85%;
    height: 50px;
    padding: 12px 20px;
    margin-left: 20px;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 10px;
}
.submit{
    all: unset;
    cursor: pointer;
    height: 100px;
    

    
}
.share_answer{
    display: flex;
    flex-direction: column;
}
.button{
    margin-top: 10px;
}
/* .image{
    margin: 0;
    margin-top: 25px;
    padding: 0;
    box-sizing: border-box;
} */
* {
    margin: 0;
    margin-top: 25px;
    padding: 0;
    box-sizing: border-box;
}
.onediscussion{
width: 100%;
height: auto;
border-radius: 10px;
background-color: #9BA4B5;
border: none;
}
.image{
    margin-bottom: -10px;
}
footer{
    width: 100%;
    height:100px;
    background-color:#212A3E;
    color: white;;
}
.about{
    display: flex;
    justify-content: space-around;
align-items: center;
}
a{
    text-decoration: none;
    color: white;
    margin: 3px 0;
}
.links{
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
}
.copy{
    text-align:center;
    background-color:#212A3E ;
    
}
{%endblock style%}
</style>



{%block body%}
<div class="header">
    <div class="ask_q">
        <button id="ask_but"><a href="ask_question">Ask question</a></button>
    </div>

    <div id="discussions">
        <!-- for loop here -->
        {%for ques in queries%}
        <div class="onediscussion">
            <p style="font-size: larger;color: rgb(66, 78, 0);">Question</p>
            <div class="div_question">
                <!-- <p class="who-asked">
                    Rathan:
                                    </p> -->
                <p class="question">
                {{ques.question}} </p>
            </div>
            <hr>
            <p class="div_answer" style="font-size: larger;
            color: rgb(87, 35, 0);">Answers</p>
            {%for answer in ans%}
            {%if answer.query_id == ques.query_id%}
            <div class="div_answer">
                <!-- <p class="replied">
                    :Pradwin
                </p> -->
                <p class="answer">
                    {{answer.answer}}
                </p>
            </div>
            {%endif%}
            {%endfor%}
        </div>
        <div class="share_answer">
            <form action="answerSubmit" method="post">
                {% csrf_token %}
                <input class="thoughts" type="text" placeholder="Share your thoughts" required maxlength="1000" name="ans">
                <input style="display:none;" type="text" name="fid_qid" value="{{ques.query_id}}">
                <button class="submit" type="submit"><img class="image" height="40px" src="/static/send.png" alt="submit"></button>
            </form>
        </div>
        {% endfor %}
    </div>
</div>
<footer>
    <div class="about">
    <div class="links">
        <a href="#">About us</a>
        <a href="#">Contact us</a>
        <a href="#">Privacy Policy</a>
    </div>
    <div class="links">
        <a href="https://github.com/Rathan-r-nayak">Rathan Nayak</a>
        <a href="https://github.com/Pradwin">Pradwin Sherigar</a>
        <a href="https://github.com/Vijayakumarbiradar22">VijayKumar</a>
    </div>
</div>
<div class="copy">
    &#169 CopyRight
</div>
</footer>
{%endblock body%}



<!-- <script>
{%block script%}

{%endblock script%}
</script> -->